* {
    margin: 0;
    padding: 0;

    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* src/index.css or src/App.css */
.list-item {
    @apply hover:bg-gray-500 w-3/4 p-3 rounded-lg cursor-pointer;
}

.bgcolor {
    @apply bg-[#2a9d8f]
}